/*- ---------------------------------------------
 $contentWidth + 120
----------------------------------------------*/
@media screen and (max-width:$contentWidth + 120){

body.lyt-main #content{
	padding-bottom:65px;
}

#content{
	margin-bottom:64px;
}

}

/*----------------------------------------------
 $contentWidth + 20
----------------------------------------------*/
@media screen and (max-width:$contentWidth + 20){
	
#content{
	padding:0 10px;
}

body.lyt-main-sub #content{
	main{
		width:100%;
		margin-right:-($navLocalWidth + 20);
		#main-inner{
			margin-right:$navLocalWidth + 20;
		}
	}
}

}

/*----------------------------------------------
 Max 960px
----------------------------------------------*/
@media screen and (max-width:960px){

div.social{
	dl{
		
		dd{
			ul{
			    li{
				    width:33%;
				}

				li:nth-child(3n),
				li:last-child{
				    margin: 0 0 2px 0;
				}
			}
		}
	}
}

}


/*----------------------------------------------
 Max 850px
----------------------------------------------*/
@media screen and (max-width:850px){

body.lyt-main #content,
body.lyt-main-sub #content{
	margin-right:0;
	margin-left:0;
	border-radius:0 0 0 0;
}

body.lyt-main-sub #content{
	margin-bottom:86px;
	main{
		margin-right:0;
		margin-bottom:20px;
		float: none;
		#main-inner{
			margin-right:0;
		}
	}

	nav#nav-local,
	div#nav-sidebar{
		width: 100%;
		float:none;
		margin-left:0;
		ul,ol{
			li{
				p{
					text-align:left;
				}
			}
		}
	}
}

div.grid-3 > .col {
	width: calc((100% - 40px) / 2);
}

}

/*----------------------------------------------
 Max 768px
----------------------------------------------*/
@media screen and (max-width:768px){

body.lyt-main #content,
body.lyt-main-sub #content{
	margin-top:10px;
}
#breadcrumb{
	margin:0 auto 10px auto;
}

div#overlay{
	opacity:0;
	background-color:#000;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:99998;
}

div#overlay.fadein{
	opacity: 0.85;
	animation-duration:0.3s;
	animation-name:fade-in-overlay;
}

header{
	padding: 0 0;
	#header-inner{
		margin-bottom:0;
		padding:15px 0 0 0;
		h1#logo,
		p#logo{
			position:static;
			margin-left:10px;
			img{
				width:190px;
			}
		}
		p#sp-utility-btn{
			cursor:pointer;
			display:block;
			width:23px;
			height:21px;
			position:absolute;
			top:15px;
			right:10px;
			z-index: 99999;
			background:url("/shared/images/sp_btn_utility.png") no-repeat left top;
			background-size:23px 21px;
			font-size: 0;
			line-height: 0;
		}
		p#sp-utility-btn.open{
			background:url("/shared/images/sp_btn_utility_close.png") no-repeat left top;
			background-size:23px 21px;
		}

		div#sp-drawer-utility{
			display:none;
		}

		div#sp-drawer-utility.fadein{
			display:block;
			position: absolute;
			top:46px;
			z-index: 99999;
			width: 100%;
			animation-duration:0.5s;
			animation-name:fade-in;

			div#sp-drawer-utility-inner{
				margin:0 10px;
				background:#ecece0;
				padding: 20px 20px 10px 20px;
				border-radius:4px;
				form{
					margin-bottom: 20px;
					position:static;
					text-align: center;
					input#text{
						float:none;
						vertical-align:top;
						width:200px!important;
					}
					input#btn{
						float:none;
					}
				}
				ul.utility{
					position:static;
					li{
						margin:0 0 10px 0;
						display:block;
						a{
						    display: block;
						    padding:12px 10px 12px 26px;
						}
					}
				}
			}
		}

		p#tagline{
			position:static;
			padding:10px 0 10px 10px;
			font-size:0.64rem;
		}
	}
	nav{
		border-bottom:none;
		border-top:1px solid #ccc;
		ul{
			margin:0 0;
			box-shadow: none;
			li{
				width:33.111111111%;
				border-right:1px solid #ccc;
				border-bottom:1px solid #ccc;
				text-align: center;
				a,
				a:link,
				a:visited{
					padding:7px 4px 7px 4px;
					background:none;
					font-size:0.66rem;
				}
				a:hover,
				a:focus{
					padding-bottom:3px;
				}
			}
			li:nth-child(3n){
				border-right:none;
			}
		}
	}

}

body.g-select header nav li.select a,
body.g-buy header nav li.buy a,
body.g-plant header nav li.plant a,
body.g-maintenance header nav li.maintenance a,
body.g-tool header nav li.tool a,
body.g-blog header nav li.blog a,
body.g-category header nav li.blog a,
body.g-2016 header nav li.blog a,
body.g-2017 header nav li.blog a,
body.g-2018 header nav li.blog a,
body.g-2019 header nav li.blog a,
body.g-2020 header nav li.blog a{
	padding-bottom:3px;
}

h1.hdg-l1-01 {
	font-size:1.2rem;
}
h2.hdg-l2-01 {
	font-size:1.0rem;
}
h3.hdg-l3-01 {
	font-size:1.0rem;
}
h4.hdg-l4-01 {
	font-size:0.9rem;
}


.img-layout-left .img,
.img-layout-right .img{
	text-align:center;
	float:none;
	margin-left:0;
	margin-right:0;
}

table.tbl-01.sp-lyt-on,
table.tbl-01.sp-lyt-on-02{
	th,td{
		width:auto;
		display: block;
		border-bottom:none;
	}
	tr:last-child td{
		border-bottom:1px solid #ccc;
	}
}


ul.list-link-thum{
	li {
		width: 100%;
		float: none;;
		margin: 0 0 10px 0;
		
	}
}

}

/*----------------------------------------------
 Max 540px
----------------------------------------------*/
@media screen and (max-width:540px){

#breadcrumb{
	ul{
		li.title{
			display:none;
		}
	}
}

div.grid-3 > .col {
	width: calc((100% - 20px) / 1);
}

div.grid-2 > .col {
	width: calc(100% - 20px);
}

div.comment{
	padding:10px;
	.guest,
	.admin{
		.balloon{
			.balloon-inner{
			    .content{
			    	padding:6px 10px;
			    	.txt{
			    		font-size:0.8rem;
			    		padding-top:4px;
			    	}
			    }
			}
			.balloon-inner:before,
			.balloon-inner:after{
				top:24px;
			}
		}
	}
	.guest,
	.admin{
		.user{
			padding:44px 0 0 0;
			background-size:30px;
			font-size:0.7rem;
		}
	}
	.guest{
		.user{
			margin-right:6px;
		}
	}
	.admin{
		.user{
			margin-left:6px;
		}
	}
	p.title{
		font-size:0.85rem;
	}
	p.title:before {
		top: 35%;
	}
}

div.social{
	dl{
		dd{
			ul{
			    li{
				    width:49.6%;
				}

				li:nth-child(3n){
				    margin: 0 2px 2px 0;
				}

				li:nth-child(2n),
				li:nth-child(4n),
				li:last-child{
				    margin: 0 0 2px 0;
				}
			}
		}
	}
}

div.ad-main-top div.grid-2 > .col:nth-child(2),
div.ad-main-middle div.grid-2 > .col:nth-child(2),
div.ad-main-bottom div.grid-2 > .col:nth-child(2),
div.ad-col1-top div.grid-2 > .col:nth-child(2),
div.ad-col1-bottom div.grid-2 > .col:nth-child(2),
div.ad-toppage-middle div.grid-2 > .col:nth-child(2),
div.ad-toppage-top div.grid-2 > .col:nth-child(2){
	display: none;
}

}
