/*----------------------------------------------
 Grid
----------------------------------------------*/
div.grid-3 {
    @include column(3,19);
}

div.grid-2 {
    @include column(2,20);

    h2{
		font-size: 1.05rem;
		margin-bottom:10px;
		position:relative;
		a{
			display: block;
			overflow: hidden;
			img{
				vertical-align:top;
				transform: scale(1);
				transition: all 0.3s ease 0s;
				width:100%;
			}
			span{
				width:96%;
				padding:8px 0 6px 4%;
				display: block;
				background:rgba(255, 255, 255, 0.8) url("/shared/images/arrow_01.png") no-repeat right 10px center;
				background-size:22px 22px;
			    position:absolute;
			    bottom:0;
			    left: 0;
			}
		}
		a:hover{
			text-decoration: underline;
			img{
				transform: scale(1.2);
			} 
		}
	}
}

/*----------------------------------------------
 Border-Type
----------------------------------------------*/
div.bd-type-01{
	padding:10px;
	border:1px solid #dbdbdb;
	border-radius:4px;
	box-shadow: 0 2px 3px 0 #dedede;
	background:#fff;

	h2{
		font-size: 1.05rem;
		margin-bottom:10px;
		position:relative;
		a{
			display: block;
			overflow: hidden;
			img{
				vertical-align:top;
				transform: scale(1);
				transition: all 0.3s ease 0s;
				width:100%;
			}
			span{
				width:96%;
				padding:8px 0 6px 4%;
				display: block;
				background:rgba(255, 255, 255, 0.8) url("/shared/images/arrow_01.png") no-repeat right 10px center;
				background-size:22px 22px;
			    position:absolute;
			    bottom:0;
			    left: 0;
			}
		}
		a:hover{
			text-decoration: underline;
			img{
				transform: scale(1.2);
			} 
		}
	}

	ul{
		li{
			padding-bottom:4px;
			border-bottom:1px dotted #ccc;
			a{
			    display:inline-block;
			    padding:6px 0 4px 25px;
			    background:url("/shared/images/arrow_02.png") no-repeat 10px 1.05em;
				background-size:5px 8px;
			}
			span.new {
				display:inline-block;
				background:#f00000;
				padding:0px 4px;
				margin:0 0 1px 5px;
				vertical-align:middle;
				font-size:0.6rem;
				font-weight:bold;
				color:#fff;
				border-radius:4px;
			}
			p{
				padding:0 0 0 26px;
				font-size: 0.8rem;
			}
		}
		
		li:last-child{
			border-bottom:none;
		}
	}
}

div.bd-type-02{
	padding:10px;
	margin-bottom:20px;
	border-radius:4px;
	border:1px dotted #ccc;
}

/*----------------------------------------------
 #news,#recommend
----------------------------------------------*/
div#news,
div#recommend{
	.grid-3,
	.grid-2{
		.col{
			position:relative;
			.bd-type-01{
				z-index: 9998;
				padding-bottom:40px;
				h2{
					font-size: 1.05rem;
					a{
						display: block;
						padding:0 0 0 24px;
						background:rgba(255, 255, 255, 0.8) url("/shared/images/arrow_01.png") no-repeat left 0.4em;
						background-size:16px 16px;
					}
					a:hover{
						text-decoration:none;
					}
				}
				p.meta{
					position:absolute;
					right:10px;
					bottom:10px;
				}
			}
			p.new{
				z-index:9999;
				position:absolute;
				background: #000;
			    min-width: 60px;
			    color: #fff;
			    text-align: center;
			    top: 0;
			    left: 0;
			    span{
			    	display: block;
			    }
			} 
		}
	}
}

/*----------------------------------------------
 Heading
----------------------------------------------*/
h1.hdg-l1-01 {
	margin:0 0 20px 0;
	padding:0 0 15px 0;
	font-size:1.7rem;
	border-bottom:1px solid #ccc;
}

h2.hdg-l2-01 {
	margin:40px 0 20px 0;
	padding:8px 14px 6px 14px;
	border-radius:4px;
	background:#f3f3f3;
	font-size:1.45rem;
}

h3.hdg-l3-01 {
	margin:50px 0 20px 0!important;
	padding:8px 0 8px 10px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	line-height:1.5;
	font-size:1.25rem;
}

h2.hdg-l2-01 + h3.hdg-l3-01 {
	margin:20px 0 20px 0!important;
}

h4.hdg-l4-01 {
	margin-top:40px;
	margin-bottom:20px;
	padding:2px 0 0 10px;
	border-left:5px solid #ccc;
	line-height:1.5;
	font-size:1.1rem;
}

h2.hdg-l2-top{
	font-size:1.2rem;
	font-weight: bold;
	margin-top:20px;
	padding:0 0 10px 0;
	position: relative;
	text-align: center;
	span {
		position:relative;
		z-index: 2;
		display: inline-block;
		margin:0 2.5em;
		padding:0 1em;
		background:#ecece0;
		text-align: left;
	}
}
h2.hdg-l2-top:before {
	position: absolute;
	top: 37.5%;
	z-index: 1;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #ccc;
}

/*----------------------------------------------
 List
----------------------------------------------*/
ul.list-bullet-01{
	margin:0 0 20px 14px;
	li {
		padding:2px 0;
		position: relative;
	}
	li:after {
		display: block;
		content: '';
		position: absolute;
		top: 1.1em;
		left: -1em;
		width: 8px;
		height: 1px;
		background-color: #387922;
	}
}

ul.list-link-01{
	margin:0 0 10px 0;
	li {
		a{
			display:inline-block;
			padding:2px 0 2px 14px;
			background:url("/shared/images/arrow_02.png") no-repeat left 0.8em;
			background-size:5px 8px;
		}
		a[target="_blank"] {
			padding:2px 0 2px 14px;
			background:url("/shared/images/arrow_03.png") no-repeat left 0.7em;
			background-size:11px 9px;
		}
		p.date{
			padding:20px 0 0 0;
			
		}
	}
	li:first-child{
		p.date{
			padding-top:0;
		}
	}
}
a.blank{
	padding:2px 0 2px 14px;
	background:url("/shared/images/arrow_03.png") no-repeat left 0.7em;
	background-size:11px 9px;
}

ul.list-link-thum{
	margin:0 0 30px 0;
	@include clearfix;
	li {
		width: 47.77777777777777777777%;
		float: left;
		position:relative;
		min-height: 80px;
		margin: 0 20px 20px 0;
		a{
			display:inline-block;
			padding:2px 0 2px 14px;
			background-size:5px 8px;
			img{
				width:80px!important;
				width:80px!important;
				position:absolute;
				left: 0;
				top: 0;
			}
			span.txt{
				display: block;
				padding:25px 0 0 76px;
			}
			span.cat,
			span.date{
				position:absolute;
				left: 90px;
				top: 0;
			}
			span.cat.double{
				position:absolute;
				left: 190px;
				top: 0;
			}
		}
	}
	li:nth-child(even) {
		margin-right: 0;
	}

	li.icon-double {
		a{
			span.date{
				left:180px;
			}
		}
	}
}

ul.list-notice-01{
	margin:0 0 10px 0;
	li {
		position:relative;
		padding:2px 0 2px 14px;
		span{
			position:absolute;
			left:-2px;
			top: 2px;

		}
	}
}

ul.list-error{
	margin-bottom:10px;
	padding:10px 20px;
	border:2px solid #f00000;
	color:#f00000;
	li {
		padding:2px 0 2px 20px;
		position: relative;
	}
	li:after {
		display: block;
		content: '';
		position: absolute;
		top: 1.0em;
		left:0;
		width: 8px;
		height: 1px;
		background-color: #f00000;
	}
}

ul.list-page-nation{
	margin:20px 0 0 0;
	text-align:center;
	li{
		display:inline-block;
		width:30px;
		margin:0 4px 0 0;
		padding:4px 4px;
		border:1px solid #ccc;
		font-size:1.0rem;
		a{
			padding:0 4px;
		}
	}

	li.current{
		padding:4px 4px;
		font-weight:bold;
		background:#387922;
		border:1px solid #387922;
		color:#fff;
	}
}

ol.list-number-01{
	margin:0 0 1.5em 20px;
	li{
		margin-bottom:0.3em;zoom:0;
	}
}


/*----------------------------------------------
 Image Layout
----------------------------------------------*/
.img-layout-left,
.img-layout-right{
	@include clearfix;
	margin-bottom:20px;
}

.img-layout-left .img{
	float:left;
	margin:0 20px 0 0;
}
.img-layout-right .img{
	float:right;
	margin:0 0 0 20px;
}
.img-layout-left.parallel .txt,
.img-layout-right.parallel .txt{
	overflow:hidden;
}

/*----------------------------------------------
 Social
----------------------------------------------*/
div.social{
	dl{
		dt{
			margin-top:10px;
			padding:0 0 10px 0;
			position:relative;
			span {
				position:relative;
				z-index:2;
				display:inline-block;
				margin:0 2.5em;
				padding:0 1em;
				background:#fff;
			}
		}
		dt:before{
			position:absolute;
			top:37.5%;
			z-index:1;
			content:'';
			display:block;
			width:100%;
			margin:0 auto;
			height:1px;
			background:#ccc;
		}
		dd{
			ul{
			    width: 100%;
			    margin-bottom:20px;
			    overflow: hidden;
			    @include clearfix;

			    li{
				    float: left;
				    width:16.33333%;
				    margin: 0 2px 2px 0;
				    text-align: center;
				    a{
				    	padding:10px 20px;
				    	position: relative;
				    	text-decoration: none;
				    	color: #fff;
				    	display:block;

				    	.sns_count {
						    position: absolute;
						    font-size: 10px;
						    right: 2px;
						    bottom: -3px;
						}
					}

					a:hover {
						opacity: 0.8;
					}
				}
				li:last-child{
				    margin: 0 0 2px 0;
				}

				li.tw a{background:#00acee;}
				li.fb a{background:#4561b0;}
				li.go a{background:#dd4b30;}
				li.ht a{background:#5279E7;}
				li.po a{background:#F03E51;}
				li.fe a{background:#87C040;}
			}
		}
	}
}



/*----------------------------------------------
 Table
----------------------------------------------*/
table.tbl-01{
	width:100%;
	margin-bottom:20px;
	border-collapse:collapse;
	th,td{
		border:1px solid #ccc;
		padding:10px 15px;
		text-align:left;
	}
	th{
		background:#f9f9f9;
	}
}

table.sp-lyt-on{
	th{
		width: 35%;
	}
	td{
		width: 65%;
	}
}

div.tbl-scroll{
	overflow:auto;
}

/*----------------------------------------------
 Comment
----------------------------------------------*/
div.comment{
	margin-bottom:10px;
	padding:20px;
	background:#f9f9f9;
	border-radius:4px;

	.guest,
	.admin{
		@include clearfix;
		margin-bottom:20px;
		.user{
			padding:54px 0 0 0;
		}
		.balloon{
			overflow:hidden;
			.balloon-inner{
				border: 1px solid #ccc;
				border-radius:4px;
			    background: #fff;
			    position: relative;
			    z-index: 0;
			    .content{
			    	padding:10px 15px;
			    }
			}
			.balloon-inner:before {
				display: block;
				margin-top: -9px;
				border-style: solid;
				content: "";
			    position: absolute;
			    top:30px;
			    z-index: 0;
			}
			.balloon-inner:after{
				display: block;
			    height: 0;
			    margin-top: -10px;
			    border-style: solid;
			    content: "";
			    position: absolute;
			    top: 30px;
			    z-index: -1;
			}
		}
	}
	.guest{
		.user{
			margin-right:10px;
			background:url("/shared/images/avatar_guest.png") no-repeat center top;
			float:left;
		}
		.balloon{
			padding:0 0 10px 9px;
		    .balloon-inner:before {
			    border-color: transparent #fff transparent transparent;
			    border-width: 9px 9px 9px 0;
			    left: -9px;
			}
			.balloon-inner:after {
			    border-color: transparent #ccc transparent transparent;
			    border-width: 10px 10px 10px 0;
			    left: -10px;
			}
		}
	}
	.admin{
		.user{
			margin-left:10px;
			background:url("/shared/images/avatar_admin.png") no-repeat center top;
			float:right;
		}
		.balloon{
			padding:0 9px 10px 0;
		    .balloon-inner:before {
			    border-color: transparent transparent transparent #fff;
			    border-width: 9px 0 9px 9px;
			    right: -9px;
			}
			.balloon-inner:after {
			    border-color: transparent transparent transparent #ccc;
			    border-width: 10px 0 10px 10px;
			    right: -10px;
			}
		}
	}

	form{
		dl{
			dt{
				margin-bottom:10px;
			}
			dd{
				margin-bottom:20px;
			}
		}
	}

	p.title{
		font-size:1.0rem;
		padding:0 0 10px 0;
		position: relative;
		text-align: center;
		span {
			position:relative;
			z-index: 2;
			display: inline-block;
			margin:0 2.5em;
			padding:0 1em;
			background:#f9f9f9;
			text-align: left;
		}
	}
	p.title:before {
		position: absolute;
		top: 37.5%;
		z-index: 1;
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #ccc;
	}
}

/*----------------------------------------------
 Contact Form
----------------------------------------------*/
span.wpcf7-not-valid-tip{
	display:inline-block;
	margin-top:10px;
	color:#f00000;
}

div.wpcf7-response-output {
    margin-bottom: 10px;
    padding: 10px 20px;
}

div.wpcf7-validation-errors {
	color: #f00000;
	border: 2px solid #f00000;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #000;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

.wpcf7-display-none,
div.wpcf7 div.ajax-error{
	display: none;
}


/*----------------------------------------------
 Form button
----------------------------------------------*/
p.btn-submit{
	text-align:center;
	input {
		margin-bottom:10px;
		padding: 5px 20px;
	}
}

/*----------------------------------------------
 Icon
----------------------------------------------*/
span.cat{
	min-width:76px;
	display:inline-block;
	background:#ff7d00;
	padding:1px 3px 0 3px;
	margin:0 8px 1px 0;
	vertical-align:middle;
	font-size:0.72rem;
	color:#fff;
	border-radius:4px;
	text-align:center;
}

span.require {
	display:inline-block;
	background:#f00000;
	padding:0 8px;
	margin:0 0 1px 8px;
	vertical-align:middle;
	font-size:0.8rem;
	font-weight:bold;
	color:#fff;
	border-radius:4px;
}

span.date{
	min-width:80px;
	display:inline-block;
	background:#aaa;
	padding:1px 3px 0 3px;
	margin:0 8px 1px 0;
	vertical-align:middle;
	font-size:0.72rem;
	color:#fff;
	border-radius:4px;
	text-align:center;
}


/*----------------------------------------------
 Code
----------------------------------------------*/
pre{
	background:#f7fafb;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	overflow: auto;
	padding: 10px 15px;
	margin-bottom: 10px;
}

/*----------------------------------------------
 Adsense
----------------------------------------------*/
.ad-sidebar{
	margin-bottom:20px;
}

/*----------------------------------------------
 Page nation
----------------------------------------------*/
ul.list-pagenation{
  margin: 30px 0;
}
 
ul.list-pagenation,
ul.list-pagenation li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
 
ul.list-pagenation a {
  font-weight:300;
  text-decoration:none;
  border: 1px solid #dbdbdb;
  border-left-width: 0;
  min-width:36px;
  min-height:36px;
  color:#333;
}
 
ul.list-pagenation li:not([class*="current"]) a:hover {
  background-color: #eee;
}
 
ul.list-pagenation li:first-of-type a {
  border-left-width: 1px;
}
 
ul.list-pagenation li.first a::before,
ul.list-pagenation li.last a::after,
ul.list-pagenation li.prev a::before,
ul.list-pagenation li.next a::after {
  display: inline-block;
  font-family: Fontawesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
 
ul.list-pagenation li.current a {
 background-color: #ddd;
 cursor: default;
 pointer-events: none;
}
 
ul.list-pagenation > li:first-child > a {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
 
ul.list-pagenation > li:last-child > a {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
 
@media only screen and ( max-width: 680px ) {
  ul.list-pagenation li.first,
  ul.list-pagenation li.last {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  ul.list-pagenation li.prev a { border-left-width: 1px; }
}
 
@media only screen and ( max-width: 500px ) {
  ul.list-pagenation li {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  ul.list-pagenation li.current,
  ul.list-pagenation li.first,
  ul.list-pagenation li.last,
  ul.list-pagenation li.prev,
  ul.list-pagenation li.next{
    position: initial;
    top: initial;
    left: initial;
  }
 
  ul.list-pagenation li.prev a {
  	border-left-width: 0;
  }
}
 
@media only screen and ( max-width: 400px ) {
  ul.list-pagenation li.first,
  ul.list-pagenation li.last {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  ul.list-pagenation li.prev a {
  	border-left-width: 1px;
  }
}
 
@media only screen and ( max-width: 240px ) { 
  ul.list-pagenation li { width: 50%;}
  ul.list-pagenation li.current {
    width: 100%;
    border-left-width: 1px;
  }
}

/*----------------------------------------------
 Adjust
----------------------------------------------*/
.mt0{margin-top:0!important;}
.mt05{margin-top:5px!important;}
.mt10{margin-top:10px!important;}
.mt20{margin-top:20px!important;}
.mt30{margin-top:30px!important;}
.mb0{margin-bottom:0!important;}
.mb05{margin-bottom:5px!important;}
.mb10{margin-bottom:10px!important;}
.mb20{margin-bottom:20px!important;}
.mb30{margin-bottom:30px!important;}
.ml0{margin-left:0!important;}
.ml05{margin-left:5px!important;}
.ml10{margin-left:10px!important;}
.ml20{margin-left:20px!important;}
.ml30{margin-left:30px!important;}
.pt0{padding-top:0!important;}
.pt05{padding-top:5px!important}
.pt10{padding-top:10px!important;}
.pt20{padding-top:20px!important;}
.pt30{padding-top:30px!important;}
.pb0{padding-bottom:0!important;}
.pb05{padding-bottom:5px!important;}
.pb10{padding-bottom:10px!important;}
.pb20{padding-bottom:20px!important;}
.pb30{padding-bottom:30px!important;}
.align-L{text-align:left!important;}
.align-R{text-align:right!important;}
.align-C{text-align:center!important;}