#loading {
  opacity: 0;
}

#loading-img {
  position: relative;
}

#loading-img img {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 66px;
  z-index: 100;
}

#loading-img:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0;
  z-index: 99;
}

#Glide {
  max-height: 382px;
  overflow-y: hidden;
}

.glide,
.glide__track {
  position: relative;
}

.glide {
  width: 100%;
}

.glide__wrapper {
  overflow: hidden;
}

.glide__track {
  width: 100%;
  transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
  touch-action: pan-Y;
}
.glide__track.dragging {
  cursor: grabbing;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glide__slide {
  width: 100%;
}

.glide__arrows,
.glide__bullets {
  position: absolute;
}

.glide--carousel .glide__slide {
  float: left;
  clear: none;
}

.glide--horizontal .glide__arrows {
  top: 50%;
  width: 92%;
  margin-left: 4%;
}

.glide__arrow {
  cursor: pointer;
  position: absolute;
  z-index: 2;
}
.glide__arrow.prev {
  left: 0;
}
.glide__arrow.next {
  right: 0;
}

.glide--horizontal .glide__bullets {
  bottom: 28px;
  left: 0;
  width: 100%;
  height: 12px;
  text-align: center;
}

.glide__bullets > * {
  display: inline-block;
  background: #aaa;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.glide__bullets > :focus, .glide__bullets > :hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.slider__wrapper {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 30px 0 40px 0;
}
.slider__wrapper.is-hidden {
  opacity: 0;
}
.slider__wrapper.is-visible {
  opacity: 1;
}

.slider__slide {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.slider__slide.active {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.slider__slide.pre {
  -webkit-transform: perspective(60em) rotateY(18deg);
  transform: perspective(60em) rotateY(18deg);
}
.slider__slide.following {
  -webkit-transform: perspective(60em) rotateY(-18deg);
  transform: perspective(60em) rotateY(-18deg);
}

.slider__bullets > * {
  width: 16px;
  height: 16px;
}
.slider__bullets > .active {
  background: #ff7d00 !important;
}

button.glide__arrow.prev,
button.glide__arrow.next {
  width: 44px;
  height: 44px;
  border: none !important;
  padding: none !important;
  background: url("/shared/images/arrow_01.png") no-repeat right center;
  -webkit-background-size: 44px 44px;
  background-size: 44px 44px;
  font-size: 0;
  line-height: 0;
  opacity: 0.7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateY(-65%);
  -ms-transform: translateY(-65%);
  transform: translateY(-65%);
}

button.glide__arrow.prev:focus,
button.glide__arrow.prev:hover,
button.glide__arrow.next:focus,
button.glide__arrow.next:hover {
  opacity: 1.0;
}

button.glide__arrow.prev {
  -webkit-transform: rotate(180deg) translateY(65%);
  -ms-transform: rotate(180deg) translateY(65%);
  transform: rotate(180deg) translateY(65%);
}

@media screen and (max-width: 540px) {
  button.glide__arrow.prev,
  button.glide__arrow.next {
    -webkit-background-size: 33px 33px;
    background-size: 33px 33px;
    width: 33px;
    height: 33px;
  }
}
